:root {
	--footer-height: 20%;
}

* {
	font-family: 'Roboto', sans-serif;
}

main {
	padding-bottom: var(--footer-height);
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: var(--footer-height);
	background-color: #155269;
	color: white;
}