* {
	font-family: 'Roboto', sans-serif;
}

.myposts > .post:not(:first-child) {
	margin-top: 15px;
}

.create-blog-button-container {
	width: 100%;
	text-align: right;
}

#noBlogPostIMG {
	text-align: center;
	transform: translateY(60px);
}

.search-result-card {
	border: 2px solid #595959;
	padding: 5px;
	border-radius: 5%;
	background-color: #bdbdbd;
	width: 350px;
	height: 200px;
	text-align: center;
}

#create-blog-button {
	position: relative;
	width: 100px;
	z-index: 5;
	cursor: pointer;
}
