{% extends 'base.html' %}

{% block title %} My Blogs! {% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='js/delete.js') }}"></script>
{% endblock %}

{% block name %} My Blogs! {% endblock %}

{% block header %}
<h1> This is where your blogs go </h1>
{% endblock %}

{% block content %}
{% for post in posts %}
<div class="card text-center">
	<div class="card-header">
		Post
	</div>
	<div class="card-body">
		<h5 class="card-title">{{ post.title }}</h5>
		<p class="card-text">
			{% for l in post.content[:50].split('\n') %}
				{{ l }} <br>
			{% endfor %}
		</p>
		<a href="{{ url_for('blogs.show_blog', id=post._id) }}" class="btn btn-primary"> View Post </a>
		{% set delete_url = url_for('blogs.delete', id=post._id) %}
		<button onclick="deletePost('{{ delete_url }}')" class="btn btn-danger"> Delete Post </button>
	</div>
	<div class="card-footer text-muted">
		Posted
		{% set time_ago = time-post.time %}
		{% if time_ago < 60 %}
		a few seconds
		{% elif time_ago > 60 %}
		{{ time_ago // 60 }} minute(s)
		{% elif time_ago > 3600 %}
		{{ time_ago // 3600 }} hour(s)
		{% elif time_ago > 86400 %}
		{{ time_ago // 86400 }} day(s)
		{% endif %}
		ago
	</div>
</div>

{% endfor %}
{% endblock %}

{% block footer %}
<p>This is the footer block</p>
{% endblock %}