{% extends 'base.html' %}

{% block title %} My Blogs! {% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='js/delete.js') }}"></script>
{% endblock %}

{% block name %} My Blogs! {% endblock %}

{% block header %}
<h1> This is where your blogs go </h1>
{% endblock %}

{% block content %}

<div class="create-blog-button-container">
	{% set post_link = url_for('blogs.post') %}
	<img
		src="{{ url_for('static', filename='images/create-blog-button.png') }}"
		alt="New Blog"
		id="create-blog-button"
		onclick="window.location.pathname='{{ post_link }}'"
	>
</div>

{% for post in posts[::-1] %}
<div class="card text-center">
	<div class="card-header">
		Post
	</div>
	<div class="card-body">
		<h5 class="card-title">{{ post.title }}</h5>
		<p class="card-text">
			{% for l in post.content[:50].split('\n') %}
				{{ l }} <br>
			{% endfor %}
		</p>
		<a href="{{ url_for('blogs.show_blog', id=post._id) }}" class="btn btn-primary"> View Post </a>
		{% set delete_url = url_for('blogs.delete', id=post._id) %}
		<button onclick="deletePost('{{ delete_url }}')" class="btn btn-danger"> Delete Post </button>
	</div>
	<div class="card-footer text-muted">
		{{ to_date( post.time ) }}
	</div>
</div>

{% endfor %}
{% endblock %}

{% block footer %}
<p>This is the footer block</p>
{% endblock %}