{% extends 'base.html' %}

{% block title %} My Blogs! {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/other_user_card.css') }}">
{% endblock %}

{% block name %} My Blogs! {% endblock %}

{% block header %}
<h1> Blogs written by {{ other_user.username }} </h1>
{% if signed_in %}
{% if not following %}
	<a class="btn btn-primary" href="{{ url_for('follow.follow_user', id=other_user.id, username=other_user.username) }}">Follow</a>
{% else %}
	<a class="btn btn-danger" href="{{ url_for('follow.unfollow_user', id=other_user.id, username=other_user.username) }}">Unfollow</a>
{% endif %}
{% endif %}
<br>
{{ number_of_followers }}
{% if number_of_followers != 1 %}
followers
{% else %}
follower
{% endif %}

{% endblock %}

{% block content %}
<div class="d-flex flex-wrap">
{% for post in posts[::-1] %}
	<div class="post">
		<div class="postTitle">
			<a href="{{ url_for('blogs.show_blog', id=post._id) }}">{{ post.title }}</a>
		</div>
		<div class="postDate">
			{{ to_date(post.time) }}
		</div>
		<br>
		<div class="postDescription">
			{% for l in post.description.split('\n') %}
			{{ l }} <br>
			{% endfor %}
		</div>
	</div>

{% endfor %}
</div>

{% endblock %}