{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/show-blog.css') }}">
{% endblock %}

{% block name %} {{ post.title }} {% endblock %}

{% block header %}
<h1> {{ post.title }} </h1>
<h2> by {{ name }} {{ date }}</h2>
{% endblock %}

{% block content %}
<br><br>
<p>
	{% markdown -%}
	{% for l in post.content.split('\n') %}
	{{ l }} <br>
	{% endfor %}
	{%- endmarkdown %}
</p>

{% endblock %}