{% extends 'base.html' %}

{% block title %} Sign In {% endblock %}

{% block name %} Sign In {% endblock %}

{% block header %}
	<h1>Sign In Page</h1>
{% endblock %}

{% block content %}
	<form action="{{ url_for('users.login') }}" method="post">
		<input type="text" name="username" placeholder="Username">
		<input type="password" name="password" placeholder="Password">
		<input type="submit" value="Submit">
	</form>
{% endblock %}

{% block footer %}
	<p>This is the footer block</p>
{% endblock %}